@{
    ViewData["Title"] = "Home Page";
}

    <div class="content">
        <h1>Temperature Converter</h1>
        <form>
            <label>Convert</label>
            <br>
            <input type="number" id="temperature" value="0.00" placeholder="0.00" step="0.1" required>
            <br>
            <div class="from">
                <label>From</label>
                <br>
                <select name="listFrom" size="2" id="list-from">
                    <option value="C" selected>Celsius</option>
                    <option value="F">Fahrenheit</option>
                </select>
            </div>
            <div class="to">
                <label>To</label>
                <br>
                <select name="listTo" size="2" id="list-to">
                    <option value="C">Celsius</option>
                    <option value="F" selected>Fahrenheit</option>
                </select>
            </div>
            <br/>
            <input type="submit" value="Calculate" id="calculateBtn">
        </form>

        <div id="summary">
            <p>Result: 
                <span id="result-from"></span>
                <span id="result-to"></span>
            </p>
        </div>
    </div>


<script>

$(document).ready(function() { 
    $("form").submit(function(event) {
        event.preventDefault();

        const temperature = parseFloat($("#temperature").val());
        const from = $("#list-from").val();
        const to = $("#list-to").val();
        let result = "";

        console.log("temperature: " + temperature);
        console.log("from: " + from + " || to: " + to);

        if(from === "C" && to === "C") {
            result = temperature;
        } else if(from === "C" && to === "F") {
            result = (temperature * 9/5) + 32;
        } else if (from === "F" && to === "C") {
            result = (temperature - 32) / (9/5);
        } else if (from === "F" && to === "F") {
            result = temperature;
        }
    
        if(result === "") {
            $("#result-from").html(temperature + "°" + from + "=");
            $("#result-to").html(temperature + "°" + to);
        } else {
            $("#result-from").html(temperature + "°" + from + "=");
            $("#result-to").html(result.toFixed(2) + "°" + to);
        }
    });
});

</script>
